.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    }

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    }

.sidenav a:hover {
    color: #f1f1f1;
    }
    
.main {
    margin-left: 160px; 
    padding: 0px 10px;
    }
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }
    @font-face {
    font-family: "Black Castle";
    src: url(Fonts/Blackcastlemf-BG5n.ttf);
    }
    @font-face {
    font-family: Donjonikons;
    src: url(Fonts/DonjonikonsRegular-VABy.ttf);
    }

html {
    color: white;
    background-image: url('../Images/d20.jpg');
    font-size: 20px;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.75);
}

